<h1>Burger Builder!</h1>

<form class="create-form">

{{!-- Burgers that are not devoured --}}

<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ol>



{{!-- Burgers that are devoured --}}

<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ol>

  <div class="form-group">
    <label for="ca">Create your burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>

</form>
